.block-gallery {

    &__card {

        &-body {

            &-quote {
                height: 100px;
            }
        }

        &-image {
            width: auto;
            height: 250px;
            object-fit: cover;
            border-top-right-radius: 0.35rem;
            border-top-left-radius: 0.35rem;
        }

        &-footer {

            &-grid {
                display: grid;
                grid-template-columns: 50% 50%;

                &-item {
                    padding: 0 5px;
                }
            }
        }
    }
}