.invalid-feedback {
    display: block !important;
}

.btn-cordova {
    background-color: #009b4c !important;
    border-color: #009b4c !important;
}

.btn-sticky {
    display: block;
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50px !important;
    border: none;
}

.no-padding {
    padding: unset !important;
}

.full-width {
    width: 100%;
}

.block-nav nav {
    display: flex;
    justify-content: center;

    @media (max-width: '767px') {
        justify-content: flex-start;
    }
}

.block-nav__box {
    overflow: auto;
}