.block-login {

    &__container {

        &-box-image {
            height: 180px;
            width: 100%;
            margin-bottom: 20px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}