.block-teacher {

    &__card {

        &-body {
            padding-bottom: unset !important;

            &-title {
                margin-bottom: 1em !important;
            }
        }

        &-image {
            width: auto;
            height: 250px;
            object-fit: contain;
        }

        &-footer {

            &-grid {
                display: grid;
                grid-template-columns: 50% 50%;

                &-item {
                    padding: 0 5px;
                }
            }
        }
    }
}